<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.lkm.shoppingmall.dao.adminDAO">
	
	<select id="getNotice" resultType="com.lkm.shoppingmall.dto.AdminNotice">
		SELECT *
		FROM ADMINNOTICE
	</select>
	<select id="getDetail" parameterType="String" resultType="com.lkm.shoppingmall.dto.AdminNotice">
		SELECT *
		FROM ADMINNOTICE
		WHERE AIDX =#{aidx}
	
	</select>
	
	<select id="getUserInfo" resultType="com.lkm.shoppingmall.dto.userDto">
		SELECT *
		FROM USERS
	</select>
	<select id="UserDetail" parameterType="String" resultType="com.lkm.shoppingmall.dto.userDto">
		SELECT * 
		FROM USERS
		WHERE UIDX= #{uidx}
	</select>
	
	<select id="user_buyList" parameterType="Map" resultType="com.lkm.shoppingmall.dto.orderListDto">
		SELECT *
		FROM(
            SELECT ROWNUM as rn ,a.*
            FROM(
            SELECT b.BIDX,p.PIDX,b.BORDER_NUM,p.PNAME,b.TOTAL_PRICE as price,p.PORDER_PRICE,b.BORDER_STATUS,b.BDATE
			FROM BUYS b left outer join PRODUCTS p  on p.DIDX =b.DIDX left outer join buys_options bo on bo.bidx=b.bidx
			WHERE b.UIDX =${uidx} AND  b.PDIDX =${didx} AND  P.PIDX = b.PIDX 
            group by b.BIDX,p.PIDX,b.BORDER_NUM,p.PNAME,b.TOTAL_PRICE,p.PORDER_PRICE,b.BORDER_STATUS,b.BDATE
            ORDER BY BDATE DESC
            ) a)
		WHERE rn BETWEEN ${beginRecord} AND ${endRecord}
	
	</select>
	<select id="user_buy_total" parameterType="String" resultType="int">
		SELECT COUNT(*)
		FROM BUYS 
		WHERE UIDX=${uidx} and PDIDX=${didx}
	
	</select>
	<select id="rlist" parameterType="Map" resultType="com.lkm.shoppingmall.dto.reviewDto">
		SELECT * 
		FROM (
			SELECT ROWNUM as rn,a.*
			FROM (
				SELECT r.* 
				FROM USERS u,BUYS b,REVIEW r
				WHERE u.UIDX=${uidx} and u.UIDX=b.UIDX and b.BIDX = r.BIDX
			)a
		) WHERE rn BETWEEN ${beginRecord} AND ${endRecord}
	</select>
	<select id="review_total" parameterType="Map" resultType="int">
		SELECT count(*) 
		FROM USERS u,BUYS b,REVIEW r
		WHERE u.UIDX=${uidx} and u.UIDX=b.UIDX and b.BIDX = r.BIDX
	</select>
	<select id="custome_list" parameterType="Map" resultType="com.lkm.shoppingmall.dto.CustomerServiceDto">
		SELECT * 
		FROM (
			SELECT ROWNUM as rn,a.*
			FROM (
				SELECT * 
				FROM CUSTOMER_SERVICE
				WHERE UIDX=${uidx} and DIDX=${didx}
			)a
		) WHERE rn BETWEEN ${beginRecord} AND ${endRecord}
	</select>
	<select id="custom_count" parameterType="Map" resultType="int">
		SELECT count(*) 
		FROM CUSTOMER_SERVICE
		WHERE UIDX=${uidx} and DIDX=${didx}
	</select>
	
	<update id="update_user" parameterType="Map">
		UPDATE USERS
		SET UGRADE =${grade}
		WHERE UIDX =${uidx}
		
	</update>
	<select id="getBanner" resultType="com.lkm.shoppingmall.dto.bannerDto">
		SELECT *
		FROM BANNER
	</select>
	<select id="getpopupnotice" resultType="com.lkm.shoppingmall.dto.PopupNoticeDto">
		SELECT *
		FROM POPUPNOTICE
	</select>
	<select id="showBanner" parameterType="String" resultType="com.lkm.shoppingmall.dto.bannerDto">
		SELECT *
		FROM BANNER
		WHERE BIDX=#{bidx}
	</select>
	
	<update id="update_banner" parameterType="Map">
		UPDATE BANNER
		SET BFILENAME ='${bFilename}',
			BDEPTNAME ='${bdeptname}',
			BDATE ='${bdate}',
			BMANAGER ='${bmanager}',
			BMANAGER_NUMBER ='${bmanager_number}'
		WHERE BIDX =${bidx}
	</update>
	<delete id="delete_banner" parameterType="String">
		DELETE BANNER
		WHERE BIDX =#{bidx}
	</delete>
	<insert id="Insert_banner" parameterType="Map">
		
		<selectKey keyProperty="bidx" order="BEFORE" resultType="int">
			SELECT BANNER_SEQ.NEXTVAL as bidx  FROM DUAL
		</selectKey>
		
		INSERT INTO BANNER(
			BIDX,
			BFILENAME,
			BDEPTNAME,
			BDATE,
			BMANAGER,
			BMANAGER_NUMBER
		) values(
			${bidx},
			'${bFilename}',
			'${bdeptname}',
			'${bdate}',
			'${bmanager}',
			'${bmanager_number}'
		)
	</insert>
	
	<insert id="Insert_popup" parameterType="Map" >
		<selectKey keyProperty="popIdx" resultType="int" order="BEFORE">
			SELECT POPUPNOTICE_SEQ.NEXTVAL as popIdx FROM DUAL
		</selectKey>
		
		INSERT INTO POPUPNOTICE(
			POPIDX,
			POPIMG,
			POPINFO,
			POPURI
		) VALUES(
			${popIdx},
			'${popImg}',
			'${popInfo}',
			'${popupUri}'

		)
	</insert>
	
	<select id="popup_Detail" parameterType="Map" resultType="com.lkm.shoppingmall.dto.PopupNoticeDto">
		SELECT * 
		FROM POPUPNOTICE
		WHERE POPIDX=#{param1}
	</select>
	<update id="update_popup" parameterType="Map">
		UPDATE POPUPNOTICE
		SET 
			POPIMG='${popImg}',
			POPINFO ='${popInfo}',
			POPURI ='${popupUri}'
		WHERE POPIDX=${popidx}
	</update>
	<delete id="delete_popup" parameterType="String">
		DELETE POPUPNOTICE
		WHERE POPIDX=#{param1}
	</delete>
	
	<select id="getDeptinfo" resultType="com.lkm.shoppingmall.dto.departmentDto">
		SELECT d.*,sum(b.TOTAL_PRICE) as total
		FROM DEPT d LEFT OUTER JOIN BUYS b on d.didx=b.didx
        GROUP BY d.DIDX, d.DID, d.DPW, d.DPHONE, 
			d.DSAUP_NO, d.DTYPE, d.DNAME, d.DADDRESS, d.DPOINT, 
			d.DREG_DATE, d.SHOW
	</select>
	
	<select id="getDeptDetail" parameterType="String" resultType="com.lkm.shoppingmall.dto.departmentDto">
		SELECT *
		FROM DEPT
		WHERE DIDX =#{didx}
	</select>
	<select id="getproduct_list" parameterType="String" resultType="com.lkm.shoppingmall.dto.productsDto">
		SELECT *
		FROM PRODUCTS
		WHERE DIDX=#{didx}
	</select>
	<select id="getOrder_list" parameterType="String" resultType="com.lkm.shoppingmall.dto.orderListDto">
		SELECT *
		FROM(
    		SELECT ROWNUM as rn,a.*
    		FROM(
        		SELECT bidx,border_num,total_price as price,border_status
       			FROM BUYS 
        		WHERE DIDX=${didx}
       			ORDER BY BDATE DESC
       			)a
			)WHERE rn between ${beginRecord} and  ${endRecord}
	</select>
	
	<select id="buy_total" parameterType="String" resultType="int">
		SELECT COUNT(*)
		FROM BUYS 
		WHERE DIDX=#{didx}
	</select>
	
	<select id="dept_rlist" parameterType="Map" resultType="com.lkm.shoppingmall.dto.reviewDto">
		SELECT * 
		FROM (
			SELECT ROWNUM as rn,a.*
			FROM (
				SELECT r.* 
				FROM DEPT d,BUYS b,REVIEW r
				WHERE d.DIDX=${didx} and d.dIDX=b.PDIDX and b.BIDX = r.BIDX
			)a
		) WHERE rn BETWEEN ${beginRecord} AND ${endRecord}
	</select>
	<select id="dept_review_total" parameterType="Map" resultType="int">
		SELECT count(*) 
		FROM DEPT d,BUYS b,REVIEW r
		WHERE d.DIDX=${didx} and d.DIDX=b.PDIDX and b.BIDX = r.BIDX
	</select>
	
	
</mapper>