<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.lkm.shoppingmall.dao.myDAO">
	 
	 <select id="getCustomer_svc" parameterType="Map" resultType="com.lkm.shoppingmall.dto.CustomerServiceDto">
	 	SELECT ROWNUM ,a.*
	 	FROM 
		 	(SELECT *
		 	FROM CUSTOMER_SERVICE
		 	WHERE UIDX =${uIdx} AND DIDX =${dIdx} ) a
		WHERE ROWNUM between ${beginRecord} AND ${endRecord}
	 </select>
	 <select id="getPageCount" parameterType="Map" resultType="int" >
	 	SELECT COUNT(*)
	 	FROM CUSTOMER_SERVICE
	 	WHERE UIDX =${uIdx} AND DIDX =${dIdx}
	 </select>
	 <select id="userInfo" parameterType="String" resultType="com.lkm.shoppingmall.dto.userDto">
	 	SELECT *
	 	FROM USERS
	 	WHERE UIDX =#{idx}
	 </select>
	 <select id="deptInfo" parameterType="String" resultType ="com.lkm.shoppingmall.dto.departmentDto">
	 	SELECT *
	 	FROM DEPT
	 	WHERE DIDX =#{idx}
	 </select>
	 
	 <update id="UpdateUserPw" parameterType="String" >
	 	UPDATE USERS 
	 	SET UPW ='${param2}'
	 	WHERE UPW ='${param1}'
	 </update>
	 <update id="UpdateDeptPw" parameterType="String" >
	 	UPDATE DEPT 
	 	SET DPW ='${param2}'
	 	WHERE DPW ='${param1}'
	 </update>
	 <update id="updateUser" parameterType="Map">
	 	UPDATE USERS
	 	SET UEMAIL='${uEmail}',
	 		UPHONE='${uPhone}'
	 	WHERE UIDX=${uIdx}
	 </update>
	 
	 <update id="deleteUser" parameterType="Map">
	 	UPDATE USERS 
	 	SET SHOW ='n'
	 	WHERE UIDX =${idx} and UPW ='${pw}'
	 </update>
	 <update id="deleteDept" parameterType="Map">
	 	UPDATE DEPT
	 	SET SHOW='n'
	 	WHERE DIDX =${idx} and DPW ='${pw}'
	 </update>
	 <insert id="user_customer_svc" parameterType="Map">
	 	INSERT INTO CUSTOMER_SERVICE(
	 	CIDX,
	 	CTITLE,
	 	CCONTENT,
	 	CTYPE,
	 	CHIT,
	 	CSTATUS,
	 	UIDX,
	 	DIDX,
	 	CREG_DATE
	 	)
	 	VALUES(
	 		CUSTOMER_SERVICE_SEQ.NEXTVAL,
	 		'${cTitle}',
	 		'${cContent}',
	 		'${cType}',
	 		0,
	 		0,
	 		${idx},
	 		0,
	 		SYSDATE
	 	)
	 </insert>
	 <insert id="DEPT_customer_svc" parameterType="Map">
	 	INSERT INTO CUSTOMER_SERVICE(
	 	CIDX,
	 	CTITLE,
	 	CCONTENT,
	 	CTYPE,
	 	CHIT,
	 	CSTATUS,
	 	UIDX,
	 	DIDX,
	 	CREG_DATE
	 	)
	 	VALUES(
	 		CUSTOMER_SERVICE_SEQ.NEXTVAL,
	 		'${cTitle}',
	 		'${cContent}',
	 		'${cType}',
	 		0,
	 		0,
	 		0,
	 		${idx},
	 		SYSDATE
	 	)
	 </insert>
	 
	 <select id="getService" parameterType="String" resultType="com.lkm.shoppingmall.dto.CustomerServiceDto">
	 	SELECT * 
	 	FROM CUSTOMER_SERVICE
	 	WHERE CIDX =#{param1}
	 </select>
	 <update id="updateHit" parameterType="int">
	 	UPDATE CUSTOMER_SERVICE
	 	SET CHIT =${param1}
	 	WHERE CIDX =${param2}
	 </update>
	 <update id="update_custeomr_svc" parameterType="Map">
	 	UPDATE CUSTOMER_SERVICE
	 	SET 
	 		CTYPE ='${cType}',
	 		CTITLE='${cTitle}',
	 		CCONTENT ='${cContent}'
	 	WHERE CIDX =${cIdx}
	 	
	 </update>
	 <select id="getReview" parameterType="String" resultType="com.lkm.shoppingmall.dto.customer_service_reviewDto">
	 	SELECT * 
	 	FROM CUSTOMER_SERVICE_REVIEW
	 	WHERE CIDX = #{cIdx}
	 </select>
	 <select id="get_myCart" parameterType="Map" resultType="com.lkm.shoppingmall.dto.CartListDto">
	 	SELECT d.dName,p.DIDX,p.PSUMNAIL,p.PNAME,p.PORDER_PRICE,p.PIDX,c.*
		FROM PRODUCTS p,CART c,DEPT d
		WHERE c.pidx = p.pidx and c.uidx=${uidx} AND c.didx =${didx} and d.DIDX = p.DIDX
		ORDER BY c.PIDX ASC , c.CIDX ASC
	 </select>
	 <update id="update_cart_count" parameterType="Map">
	 	UPDATE CART 
	 	SET CTOTAL_COUNT =${count}
	 	WHERE CIDX =${cidx}
	 </update>
	 
	 <insert id="insert_buy" parameterType="Map">
		<selectKey keyProperty="bidx" resultType="int" order="BEFORE">
			SELECT BUYS_SEQ.NEXTVAL as bidx FROM DUAL
		</selectKey>
		
		INSERT INTO BUYS(
			BIDX,
			TOTAL_PRICE,
			BDATE,
			PIDX,
			BORDER_NUM,
			BORDER_STATUS,
			UIDX,
			DIDX,
			PDIDX,
			BORDER_MENT
		) VALUES(
			${bidx},
			${total_price},
			sysdate,
			${pidx},
			'${border_num}',
			${border_status},
			${uidx},
			(SELECT DIDX FROM PRODUCTS WHERE PIDX=${pidx}),
			${pdidx},
			'${border_ment}'	
		)
	</insert>
	 <insert id="buy_option" parameterType="Map">
		INSERT INTO BUYS_OPTIONS(
			BOIDX,
			BONAME,
			BOPRICE,
			BOCOUNT,
			BIDX
		) VALUES(
			BUYS_OPTIONS_SEQ.NEXTVAL,
			'${boname}',
			${boprice},
			${count},
			${bidx}
		)
		
	</insert>
	<delete id="delete_cart" parameterType="String">
		DELETE FROM CART
		WHERE CIDX=#{cidx}
	</delete>
	
	 
</mapper>