<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.lkm.shoppingmall.dao.productDAO">
	
	<select id="mylist" parameterType="String" resultType="com.lkm.shoppingmall.dto.myproduct">
		SELECT p.PIDX,p.pNAME,p.PDATE,p.DIDX,p.Price,p.PORDER_PRICE,count(r.RIDX) as rCount, NVL(sum(r.RATING),0) as rTotal,TO_CHAR(p.pSumnail) as pSumnail
		FROM PRODUCTS p LEFT OUTER JOIN REVIEW r on p.PIDX = r.PIDX
		WHERE p.DIDX =#{param1}
        group by p.PIDX,p.pNAME,p.PDATE,p.DIDX,p.Price,p.PORDER_PRICE,TO_CHAR(p.pSumnail)
	</select>
	<insert id="insertproduct" parameterType="Map" >
		<selectKey keyProperty="pidx" resultType="int" order="BEFORE">
			SELECT PRODUCTS_SEQ.NEXTVAL as pidx FROM DUAL
		</selectKey>
		INSERT INTO PRODUCTS(PIDX,PNAME,PRICE,PRICE_PER,PDATE,PORDER_PRICE,DIDX,PSUMNAIL)
		VALUES(
			${pidx},
			'${pName}',
			${price},
			'0',
			SYSDATE,
			${order_price},
			${didx},
			'${psumNail}'	
		)
	</insert>
	<insert id="insertproductnotice" parameterType="Map">
		INSERT INTO PRODUCTS_NOTICE(PNIDX,PNIMG,PIDX,PIMG)
		VALUES (
			PRODUCT_NOTICE_SEQ.NEXTVAL,
			'${notice_img}',
			${pidx},
			'${pimg}'
		)
	</insert>
	<insert id="insertproductOption1" parameterType="Map">
		<selectKey keyProperty="poidx" resultType="int" order="BEFORE">
			SELECT PRODUCT_NOTICE_SEQ.nextval as poidx FROM dual
		</selectKey>
		INSERT INTO PRODUCTS_OPTION(POIDX,PONAME,POPRICE,PIDX)
		VALUES (
			#{poidx},
			'${poname}',
			${avg_price},
			${pidx}
		)
	</insert>
	<insert id="insertproductOption2" parameterType="Map">
		INSERT INTO PRODUCTS_OPTION(POIDX,PONAME,POPRICE,PODEPT,POEND,PIDX)
		VALUES(
			PRODUCT_NOTICE_SEQ.nextval,
			'${op2_name}',
			${op2_price},
			${poidx},
			'Y',
			${pidx}
		)
	</insert>
	
	<select id="selectmyProduct" parameterType="com.lkm.shoppingmall.dto.productsDto" resultType="com.lkm.shoppingmall.dto.productsDto">
		SELECT *
		FROM PRODUCTS
		WHERE PIDX = ${pIdx}
	
	</select>
	<select id="selectmyProduct_notice" parameterType="com.lkm.shoppingmall.dto.product_notice" resultType="com.lkm.shoppingmall.dto.product_notice">
		SELECT * 
		FROM PRODUCTS_NOTICE
		WHERE PIDX = ${pIdx}
	</select>
	<select id="selectproduct_options" parameterType="int" resultType="com.lkm.shoppingmall.dto.product_optionDto">
		SELECT b.*
		FROM PRODUCTS_OPTION a inner join products_option b  on a.poidx =b.podept
		where a.podept =0 AND a.pidx = b.pidx AND a.pidx = #{param1}
	</select>
	<select id="selecttop_options" parameterType="int" resultType="com.lkm.shoppingmall.dto.product_optionDto">
		SELECT * 
		FROM PRODUCTS_OPTION
		WHERE PIDX=#{param1} AND PODEPT =0
	</select>
	
	<select id="selectDidx" parameterType="int" resultType="int">
		SELECT DIDX
		FROM PRODUCTS
		WHERE PIDX=#{param1}
	</select>
	<update id="updateProducts" parameterType="com.lkm.shoppingmall.dto.productsDto">
		UPDATE PRODUCTS
		SET PNAME = '${pName}',
			PORDER_PRICE =${pOrder_price},
			PRICE = ${pRice},
			PSUMNAIL = '${pSumnail}'
		WHERE PIDX = ${pIdx}
	</update>
	<update id="updateNotice" parameterType="com.lkm.shoppingmall.dto.product_notice">
		UPDATE PRODUCTS_NOTICE
		SET PNIMG = '${pNimg}',
			PIMG = '${pImg}'
		WHERE PIDX = ${pIdx}
	</update>
	<delete id="deleteOptions" parameterType="int">
		DELETE FROM PRODUCTS_OPTION
		WHERE PIDX = #{param1}
	</delete>
	
	<select id="selectDept" parameterType="int" resultType="com.lkm.shoppingmall.dto.departmentDto">
		SELECT d.*
		FROM DEPT d,PRODUCTS p
		WHERE p.PIDX =#{param1} and d.DIDX = p.DIDX
	</select>
	<select id="getReviewList" parameterType="int" resultType="com.lkm.shoppingmall.dto.reviewDto">
		SELECT r.*,DECODE(b.UIDX,0,(SELECT DID FROM DEPT WHERE DIDX=b.pDIDX),(SELECT USERID FROM USERS  WHERE UIDX=b.UIDX)) as
		FROM BUYS b,review r
		WHERE r.BIDX = b.BIDX AND r.PIDX=#{param1}
		ORDER BY r.BIDX
	</select>
	
	<select id="getbuysOption" parameterType="int" resultType="com.lkm.shoppingmall.dto.buyOptionDto">
		SELECT bo.* 
		FROM BUYS_OPTIONS bo, buys b  
		where b.pidx = #{param1} AND bo.bidx = b.bidx
		ORDER BY BO.BIDX
	</select>
	<select id="getOption2" parameterType="Map" resultType="com.lkm.shoppingmall.dto.product_optionDto">
		SELECT * 
		FROM PRODUCTS_OPTION 
		WHERE PIDX=${pIdx} and PODEPT=${poidx}
	</select>
	
	<select id="getUserInfo" parameterType="String" resultType="com.lkm.shoppingmall.dto.userDto">
		SELECT * 
		FROM USERS
		WHERE UIDX =#{param1}
	</select>
	
	<select id="getDeptInfo" parameterType="String" resultType="com.lkm.shoppingmall.dto.departmentDto">
		SELECT * 
		FROM DEPT
		WHERE DIDX = #{param1}
	</select>
	
	
	<insert id="buy_insert" parameterType="Map">
		<selectKey keyProperty="bidx" resultType="int" order="BEFORE">
			SELECT BUYS_SEQ.NEXTVAL as bidx FROM DUAL
		</selectKey>
		
		INSERT INTO BUYS(
			BIDX,
			TOTAL_PRICE,
			BDATE,
			PIDX,
			BORDER_NUM,
			BORDER_STATUS,
			UIDX,
			DIDX,
			PDIDX,
			BORDER_MENT
		) VALUES(
			${bidx},
			${total_price},
			sysdate,
			${pidx},
			'${border_num}',
			${border_status},
			${uidx},
			${didx},
			${pdidx},
			'${border_ment}'	
		)
	</insert>
	<insert id="buy_option" parameterType="Map">
		INSERT INTO BUYS_OPTIONS(
			BOIDX,
			BONAME,
			BOPRICE,
			BOCOUNT,
			BIDX
		) VALUES(
			BUYS_OPTIONS_SEQ.NEXTVAL,
			'${boname}',
			${boprice},
			${count},
			${bidx}
		)
		
	</insert>
	
</mapper>