@charset "UTF-8";


.header-logo{
	position: absolute;
    left: 83px;
    top: 40px;
    overflow: hidden;
    line-height: 400px;
	width: 94px;
    height: 40px;
}
.livechart{
	position: absolute;
    left: 730px;
    top: 48px;
    width: 300px;
}
.side_bar,.user_main,.main-fotter {
	margin: 20px 50px;		
}
 section, ul, dl, dd {
  padding:0;
}
ul{
	list-style: none;
}

.slider:after {
  content:'';
  display:block;
  clear:both;
}
.slider li {
  
  width:100%;
  height:500px;
  opacity:0;
}
fieldset{
	border: 0 none;
}
legend {
    position: absolute;
    top: -9999px;
    left: -9999px;
    font-size: 0px;
    line-height: 0;
}
.slider li div img {
  width:100%;
  height:400px;
  background-size:cover;
    
}
.header-search{
	position: absolute;
    left: 196px;
    top: 35px;
    width: 510px;
    height: 50px;
    padding: 2px 55px 0 27px;
    border-radius: 25px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #ddd;
    background: #fafafa;
}
 dl {
  position:absolute;
  top:50%;
  transform:translateY(-50%);
  left:20px;
}
.right {
  left:auto;
  right:20px;
  text-align:right;
}
 dt {
  color:#fff;
  font-size:3rem;
  text-shadow:1px 1px 10px #444;
}
 dd {
  color:#fff;
  text-shadow:1px 1px 10px #444;
}
.btn {
  text-align:center;
}
.btn button {
  margin-top:10px;
  border:1px solid #ccc;
  background-color:#fff;
  color:#666;
  font-size:1.5rem;
  cursor:pointer;
}
#search-item{
	display: block;
    width: 100%;
    height: 40px;
    line-height: 40px;
    background: none;
    border: none;
    font-size: 18px;
    letter-spacing: 0;
    color: #111;
    outline: none;
    padding: 0;
}
#searchBarBtn{
	position: absolute;
    right: 2px;
    top: -1px;
    overflow: hidden;
    background-position: -162px -45px;
    width: 50px;
    height: 50px;
    background-size: 363px 275px;
    background: red;
    border: 0;
    border-radius: 50%;
}
