@charset "UTF-8";


.header-logo{
	position: absolute;
    left: 83px;
    top: 40px;
    overflow: hidden;
    line-height: 400px;
	width: 94px;
    height: 40px;
}
.livechart{
	position: absolute;
    left: 730px;
    top: 48px;
    width: 300px;
}
.side_bar,.main-fotter {
	margin: 20px 50px;		
}
 section, ul, dl, dd {
  padding:0;
}
ul{
	list-style: none;
}
.slider {
	height: 500px;
    margin-left: 200px;
    margin-right: 200px;
}
.slider:after {
  content:'';
  display:block;
  clear:both;
}
.slider li {
  
  width:100%;
  height:500px;
  opacity:0;
}
fieldset{
	border: 0 none;
}
legend {
    position: absolute;
    top: -9999px;
    left: -9999px;
    font-size: 0px;
    line-height: 0;
}
.splide__slide splide__slide--clone{
  width:100%;
  height:400px;
  background-size:cover;
    
}
.bimgs{
	width: 100%;
	height: 400px;
}
.header-search{
	position: absolute;
    left: 196px;
    top: 35px;
    width: 510px;
    height: 50px;
    padding: 2px 55px 0 27px;
    border-radius: 25px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #ddd;
    background: #fafafa;
}

.right {
  left:auto;
  right:20px;
  text-align:right;
}

.btn {
  text-align:center;
}
.btn button {
  margin-top:10px;
  border:1px solid #ccc;
  background-color:#fff;
  color:#666;
  font-size:1.5rem;
  cursor:pointer;
}
#search-item{
	display: block;
    width: 100%;
    height: 40px;
    line-height: 40px;
    background: none;
    border: none;
    font-size: 18px;
    letter-spacing: 0;
    color: #111;
    outline: none;
    padding: 0;
}
#searchBarBtn{
	position: absolute;
    right: 2px;
    top: -1px;
    overflow: hidden;
    background-position: -162px -45px;
    width: 50px;
    height: 50px;
    background-size: 363px 275px;
    background: red;
    border: 0;
    border-radius: 50%;
}
.user_main{
	width: 1300px;
    margin-top: 80px;
    height: 600px;
    margin: 20px auto;
    border: 1px solid black;
}
.recent_product_info{
	margin-left: 5px;
}
.recent_list .slide .products_wrap{
	display:inline-block;
	margin: 5px 20px;
	width :300px;
	height: 380px;
	border :1px solid black;
}
.products{
	width: 224px;
	height: 224px;
	border:1px solid gray;
	margin-left: 33px;
}
.pnote{
	margin-top: 10px;
    height: 150px;
    width: 290px;
    border: 1px solid gray;
    margin: 0px 4px;
}
.slide{
	width: 100%;
	height: 90px;
}
.slide .recnet_plist .rlist{
	float: left;
    width: 302px;
    height:110px;
    margin: 0 0 0 11px;
    border :1px solid lightgray;
    border-radius: 55px;
}
.product_img{
	display:inline-block;
	
}
.search_item{
	border: 1px solid #eee;
    border-radius: 55px;
    height: 110px;
    padding: 15px 0 0 15px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.slide .recnet_plist .rlist .search_item img {
	width: 80px;
	height: 80px;
	border-radius: 55px;
}
.rlist{
	width: 1270px;
    height: 415px;
}
.product_content{
	display:inline-block;
	vertical-align: top;
	margin-left: 20px;
	width: 160px;
}
.product_content div{
	margin: 5px;
}
.rlist .sameTag_list{
	 display:none; 
	width: 1270px;
	height: 300px;
	margin-top:40px;
	
}

.productlist{
	position: absolute;
    left: 20px;
}
.rlist.active .sameTag_list{
	display:block;
	position: absolute;
	left: 0;	
}
.productlist{
	height: 100%;
}
.productlist .splide__track ul{
	display:block;
	height: 100%;
}
.productlist .splide__track ul li{
	position: relative;
    float: left;
    width: 224px;
    height: 345px;
    margin: 0 0 0 30px;
    border-radius: 4px;
}
.productlist_pimg,.productlist_pimg img{
	width: 224px;
	height: 224px;
	display:inline-block;
}
.sameTag_list .splide__track{
	width: 1270px;
}

.recent_products{
	position: relative;
}
.sameTag_list .splide__slide{
	width: 224px;
	
}

.modal-backdrop fade in{
		height: 0;
	}
	#Modal,#myModal {
        display: none;
	    position: fixed;
	    margin: auto;
	    width: 1000px;
	    height: 700px;
	    z-index: 100000;
	    left: 17%;
	    top: 80px;
    }
        
    #Modal h2{
    	margin:0;
   	}
  
    #Modal .modal-content,#myModal .modal-body {
	    width:100%;
	    height:100%;
	    overflow:scroll;	
	    margin:0px auto;
	    padding:20px 10px;
	    background:#fff;
    }
    .modal-foot{
   		width:100%;
	    height:100px;
	    text-align:center;
	    margin:0px auto;
	    padding:20px 10px;
	    background:#fff;
    }
    .modal-foot input[type=button]{
    	    width: 150px;
    		height: 50px;
    }
    #myModal .modal-title {
    	width: 100%;
    	position: relative;
    	height: 100%;
    	line-height: 100%;
	}
	#myModal .modal-title .title {
		position: absolute;
		text-align: center;
		/* left: 10px; */
		width: 100%;
		font-size: 18px;
	}
	#Modal .modal-content,#myModal .modal-title .close {
    	position: absolute;
   		right: 30px;
         
	}
	#Modal .modal_layer ,#myModal .modal_layer{
    	position:fixed;
    	top:0;
    	left:0;
		width:100%;
   		height:100%;
    	background:rgba(0, 0, 0, 0.5);
     	z-index:-1;
	}
	#myModal .modal-header{
		position: relative;
		width: 100%;
		height: 46px;
		background: white;
		border-bottom: 1px solid black;
		padding:10px 10px;
	}
	.navi{
		display: inline-block;
		float: left;
	}
	.controll {
		float: right;
	}
	#popImg{
		width: 100%;
	}
	.pop_navi{
		width: 25px;
		height: 25px;
	}
	.pop_navi.selected{
		background-color: red;
		color: white;
		border:0;
	}