@charset "UTF-8";

.s_login{
	padding: 83px 0;
	display:block;
	width: 100px;
    height: 43px;
    background-position: 0 0;
    margin: auto 40% ;
}

#logoimg{
	width: 507px;
	height: 100px;
}

#login_form input[type=text],input[type=password]{
	width: 500px;
	height: 54px;
}
#login_form .form-body input[type=button]{
	width: 507px;
	height: 54px;
	background: red;
	color: white;
	font-size: 23px;	
}
.auto_login_chk ,.login_find{
	display:inline-block;
	font-size: 18px;
}
.login_find{
	
	position: absolute;
	right: 0;
}
.side{
	padding-top:10px;
	position:absolute;
	width: 507px;
}
a{
	text-decoration: none;
	color: black;
}
a:link {
	color: black;
	text-decoration: none;
}
a:visited { 
	color: black; 
	text-decoration: none;
}
a:hover { 
	color: black; 
	text-decoration: underline;
}
.login_type{
	width: 508px;
	height : 80px;
	
	text-align: center;
	margin-bottom: 10px;
	border :1px solid black;
}
.login_type input[type=button]{
	display:inline-block;
	width: 230px; 
	height: 100%;
	border:0;
	text-align:center;
	outline: 0;
	font-size: 20px;
	background: white;
}

.login_type .user-border{
	width : 249.4px;
    height: 100%;
    display: inline-block;
    border-right: 1px solid black;
}
.login_type .dept-border{
	width : 251px;
	height: 100%;
    display: inline-block;
}
.user-border,#user_login{
	background: yellow;
	font-weight: bold;
}