@charset "UTF-8";

.wrap{
	width: 1500px;
	margin:0 auto;
	
}
.wrap_content div{
	margin: 8px;
}
.wrap .wrap_content .product_pname{
	font-size: 20px;
	height: 40px;
}
.product_notice_imgs{
	width: 1200px;
    height: 300px;
}
.wrap .wrap_content label{
	display:inline-block;
	width:150px;	
}
.wrap .wrap_content .product_pname #pName{
	width: 600px;
	height: 20px;
}

.wrap .wrap_content .product_sumnail {
	width: 300px;
	height: 300px;
	display:none;
}
.wrap .wrap_conent .product_notice_imgs,.product_info_img {
	display:none;
	width: 1200px;
	height: 300px;
	margin-bottom: 20px;
}
.product_info_table table #price ,#order_price{
	width: 300px;
	height: 20px;
}
.product_info_table{
	height: 100px;
	border-bottom: 1px solid gray;
}
.product_option .add_option{
	text-align: right;
}
.option_list {
	border-bottom: 1px solid gray;
	height: 100%;
}
.left_option,.right_option{
	display:inline-block;
}
.left_option{
	width: 500px;
}
.right_option{
	height: 100%;
}
.option_list_add table tr td{
	text-align: center;
	width: 250px;
}
#sumnail{
	width: 290px;
	height: 290px;
}
.notice_imgs {
	list-style: none;
	overflow-x:scroll; 
	white-space:nowrap;
}
.product_notice_imgs , .product_info_img{
	display:none;
}
.notice_imgs{
	width:1200px;
	height:250px;
	list-style: none;
	overflow-x:scroll;
	white-space:nowrap;
	
}
.notice_imgs li{
	display:inline-block;
	width: 220px;
	height: 220px;
}
.notice_imgs li img{
	width: 220px;
	height: 220px;
}
.product_img li{
	display:inline-block;
	width: 220px;
	height: 220px;
}
.product_img{
	width:1200px;
	height:250px;
	list-style: none;
	overflow-x:scroll;
	white-space:nowrap;
}
.product_img li img{
	width: 220px;
	height: 220px;
}
